{
	"plugins": [
		"babel-plugin-transform-es2015-modules-simple-commonjs",
		"@babel/plugin-check-constants",
		"@babel/transform-arrow-functions",
		"@babel/transform-block-scoping",
		"@babel/transform-parameters",
		"@babel/transform-shorthand-properties",
		"babel-plugin-transform-object-spread-inline",
		["@babel/transform-template-literals", { "loose": true }],
		["@babel/transform-destructuring", { "loose": true }],
		["@babel/transform-computed-properties", { "loose": true }],
	]
}
